<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default name">
    <test verbose="2" preserve-order="true" name="ATB6xLearningRestAssured">
        <classes>
            
            
            <class name="APIAutomationRestAssured.tests.crud.testCreateBookingPOST"/> 
             	
          	
            <!-- Add more classes as needed -->
            
        </classes>
    </test>
</suite>
